h1, h2, h3 {
  font-family: "Helvetica", sans-serif; /* if all headers use Helvetica */
}
body {
  color: blue;
}
h1 {
  color: red;
}
a {
  color: blue;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: green;
  text-decoration: none;
}
